@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: lch(2.467% 0 272 / 1);
    --foreground: white;
}

body {
    color: var(--foreground);
    --header-height: 39px;
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
    .header {
        min-height: calc(var(--header-height, 57px) - 1px);
    }
    .shadow-button {
        box-shadow:
            lch(0 0 0 / 0.06) 0px 4px 4px -1px,
            lch(0 0 0 / 0.12) 0px 1px 1px 0px;
    }
}

@layer components {
    .field-sizing-content {
        field-sizing: content;
    }
}

@layer base {
    :root {
        --border-color: 14.74 3.54 272;
        --radius: 0.5rem;
        --sidebar-background: 2.467% 0 272 / 1;
        --sidebar-foreground: 90.421 1 272;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
    .dark {
        --sidebar-background: 240 5.9% 10%;
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary: 224.3 76.3% 48%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 240 3.7% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 240 3.7% 15.9%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
}
